/* @link https://utopia.fyi/clamp/calculator?a=320,1024,41—70 */
/* @link https://utopia.fyi/clamp/calculator?a=320,1024,16—30 */
/* @link https://utopia.fyi/clamp/calculator?a=320,1024,14—16 */
/* @link https://utopia.fyi/clamp/calculator?a=320,1024,16—20 */
/* https://www.cssportal.com/css-clip-path-generator/ */
/* https://www.freeprivacypolicy.com/live/8c4de919-c79d-4ff8-a04e-9f22cae672b4 */

:root {
    --breakpoint-mobile-m: 375px;
    --header-height-phone-tablet: 90px;
    --header-height-tablet-laptop: 100px;
    --header-height-default: 120px;

    --footer-line-height: 1.5;
    --font-size-button-mobile: 1.3rem;
    --content-margin-v: 3em;
    --content-margin-h: 5em;
    --border-radius: 1.5em;

    --font-size-default: 1.05rem;
    --font-size-button: 1.1rem;
    --font-size-button-big: 1.2rem;

    --font-size-header: 1.25rem;
    --font-size-footer: 1rem;
    --font-size-footer-links: 0.8rem;
    --font-size-h2: 2rem;
    --font-size-h2-span: 2.3rem;

    --fluid-41-70: clamp(2.5625rem, 1.7386rem + 4.1193vi, 4.375rem);
    --fluid-16-30: clamp(1rem, 0.6023rem + 1.9886vi, 1.875rem);
    --fluid-14-16: clamp(0.875rem, 0.8182rem + 0.2841vi, 1rem);
    --fluid-16-20: clamp(1rem, 0.8864rem + 0.5682vi, 1.25rem);

    --clr-white: #FCFCFC;
    --clr-yellow: #FFD700;
    --clr-black: #000000;
    --clr-grey: #61677A;
    --clr-light-grey: #A9A9A9;
    --clr-story_back: #FFEC9E;
}

@font-face {
    font-family: "oswald-bold";
    src:
        url("./assets/fonts/oswald-bold-webfont.woff2") format("woff2"),
        url("./assets/fonts/oswald-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "oswald-extralight";
    src:
        url("./assets/fonts/oswald-extralight-webfont.woff2") format("woff2"),
        url("./assets/fonts/oswald-extralight-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "oswald-light";
    src:
        url("./assets/fonts/oswald-light-webfont.woff2") format("woff2"),
        url("./assets/fonts/oswald-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "oswald-medium";
    src:
        url("./assets/fonts/oswald-medium-webfont.woff2") format("woff2"),
        url("./assets/fonts/oswald-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    ;
}

@font-face {
    font-family: "oswald-regular";
    src:
        url("./assets/fonts/oswald-regular-webfont.woff2") format("woff2"),
        url("./assets/fonts/oswald-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "oswald-semibold";
    src:
        url("./assets/fonts/oswald-semibold-webfont.woff2") format("woff2"),
        url("./assets/fonts/oswald-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "oswald-regular", system-ui;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5;
    font-size: var(--font-size-default);
    background-color: var(--clr-yellow);
}

body.no-scrolling {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

/************************************HEADER************************************/
header {
    display: block;
    width: 100%;
    background-color: var(--clr-yellow);
}

.container-header {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-header);
    height: var(--header-height-default);
    justify-content: space-around;
}

.container-header #restaurant_logo {
    display: block;
    max-height: 65%;
    max-width: 100%;
    margin-inline: 1em;
    margin-block-start: 0.55em;
}

.desktop-layout-menu {
    display: block;
    width: 70%;
    margin-inline-end: 1em;
}

.desktop-layout-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    justify-content: flex-end;
}

.desktop-layout-menu a {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: var(--font-size-button);
    color: black;
    padding: 0.2em 1em;
    cursor: pointer;
}

.desktop-layout-menu a:hover {
    color: var(--clr-yellow);
    background-color: black;
}

.desktop-layout-menu a:active {
    cursor: default;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    transition: 0.2s all ease-in-out;
}

.mobile-layout-menu {
    display: none;
    position: fixed;
    height: 100%;
    width: min(80%, var(--breakpoint-mobile-m));
    top: 0;
    right: 0;
    z-index: 5;
    background-color: var(--clr-yellow);
    transition: width 0.5s, translate 0.5s ease-in-out;
    overflow: hidden;
}

.mobile-layout-menu[aria-expanded="true"] {
    translate: 0;
}

.mobile-layout-menu[aria-expanded="false"] {
    translate: 100%;
}

.open-button,
.mobile-layout-menu .close-button {
    display: none;
    position: absolute;
    top: calc(var(--header-height-phone-tablet)/2 - 21.5px);
    right: 0;
    margin-inline: 1.2em;
    z-index: 10;
    cursor: pointer;
}

.open-button img,
.close-button img {
    width: 43px;
    height: 43px;
}

@keyframes rotateAndHide {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(720deg);
        opacity: 0;
    }
}

@keyframes rotateAndShow {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: rotate(720deg);
        opacity: 1;
    }
}

.rotate-and-hide {
    animation-name: rotateAndHide;
}

.rotate-and-show {
    animation-name: rotateAndShow;
}

.rotate-and-hide,
.rotate-and-show {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes reverseRotateAndHide {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: rotate(-720deg);
        opacity: 1;
    }
}

@keyframes reverseRotateAndShow {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(-720deg);
        opacity: 0;
    }
}

.reverse-rotate-and-hide {
    animation-name: reverseRotateAndHide;
}

.reverse-rotate-and-show {
    animation-name: reverseRotateAndShow;
}

.reverse-rotate-and-hide,
.reverse-rotate-and-show {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}


.mobile-layout-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes transparentToBlack {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes blackToTransparent {
    0% {
        background-color: rgba(0, 0, 0, 0.5);
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.transparent-to-black {
    animation-name: transparentToBlack;
}

.black-to-transparent {
    animation-name: blackToTransparent;
}

.transparent-to-black {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.black-to-transparent {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.mobile-layout-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1em;
}

.mobile-layout-menu a {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    color: black;
    display: block;
    text-align: center;
    font-size: var(--font-size-button-mobile);
    padding: 0.25em 1em;
    margin-inline: 0.5em;
    cursor: pointer;
}

.mobile-layout-menu a:hover {
    color: var(--clr-yellow);
    background-color: black;
}

/************************************HEADER************************************/
ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.25s all ease-in-out;
}

a:active {
    cursor: default;
}


main {
    display: block;
    width: 100%;
}

[class^="container-main"]>section {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

/************************************MAIN-GALLERY-INDEX************************************/
.main-gallery-wrapper,
.main-hero-section-wrapper {
    display: block;
    width: 100%;
    position: relative;
}

.main-gallery-wrapper #bg_image,
.main-hero-section-wrapper #bg_image {
    width: 100%;
    height: calc(100vh - var(--header-height-default));
    object-fit: cover;
    filter: brightness(0.5);
}

.main-gallery-wrapper #arrow_down,
.main-hero-section-wrapper #arrow_down {
    display: block;
    height: 60x;
    width: 60px;
    opacity: 0.5;
    z-index: 1;
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4em;
}

.main-gallery-wrapper #arrow_down:active,
.main-hero-section-wrapper #arrow_down:active {
    cursor: default;
}

.main-gallery-wrapper #arrow_down:hover,
.main-hero-section-wrapper #arrow_down:hover {
    opacity: 1;
}

.text-container-layout,
.text-container-hero-layout {
    display: block;
    width: 75%;
}

.text-container,
.text-container-hero {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.3;
    color: var(--clr-white);
    width: 100%;
    padding: 1em;
}

.text-container h2,
.text-container-hero h2 {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: var(--fluid-41-70);
    text-transform: uppercase;
}

.text-container h3,
.text-container-hero h3 {
    font-family: "oswald-regular", system-ui;
    font-weight: 400;
    font-size: var(--fluid-16-30);
}

/************************************MAIN-GALLERY-INDEX************************************/
/************************************MAIN-PREPARE-INDEX************************************/
.main-prepare-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 30em;
    max-width: 100%;
    margin: var(--content-margin-h) 1.5em;
}

.main-prepare-text-layout {
    display: block;
    width: 30%;
}

.main-prepare-text-layout h2 {
    display: block;
    font-family: "Helvetica", system-ui;
    font-weight: 400;
    font-size: var(--font-size-h2);
    line-height: 1.3;
    text-transform: uppercase;
}

.main-prepare-text-layout h2 span {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: var(--font-size-h2-span);
    text-transform: uppercase;
}

.main-prepare-text-layout p {
    display: block;
    margin-block: 1.5em;
}

.main-prepare-text-layout a {
    display: block;
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: var(--font-size-button);
    max-width: 12em;
    text-align: center;
    text-transform: uppercase;
    color: black;
    background-color: transparent;
    border: 3px solid black;
    padding: 0.25em 1em;
}

.main-prepare-text-layout a:hover {
    background-color: black;
    color: var(--clr-yellow);
}

.main-prepare-image-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "b a"
        "b c"
    ;
    width: 55%;
    height: 100%;
    gap: 1em;
}

#main-prepare-image-layout-item1 {
    grid-area: b;
}

#main-prepare-image-layout-item2 {
    grid-area: a;
    align-self: end;
}

#main-prepare-image-layout-item3 {
    grid-area: c;
    align-self: start;
}

.main-prepare-image-layout figure {
    position: relative;
    min-height: 100px;
}

.main-prepare-image-layout figure figcaption {
    display: block;
    color: var(--clr-white);
    padding: 0.5em 1em;
    background-color: black;
    font-size: var(--fluid-14-16);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.main-prepare-image-layout img {
    display: block;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

/************************************MAIN-PREPARE-INDEX************************************/
/************************************MAIN-LIMITED-GALLERY-INDEX************************************/
.main-limited-gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

.main-limited-gallery-text-layout {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 1.5em 1.5em 0;
}

.main-limited-text h2 {
    display: block;
    font-family: "Helvetica", system-ui;
    font-weight: 400;
    font-size: var(--font-size-h2);
    line-height: 1.3;
    text-transform: uppercase;
}

.main-limited-text h2 span {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: var(--font-size-h2-span);
    text-transform: uppercase;
}

.main-limited-text h3 {
    display: block;
    margin-block: 1.5em;
}

#carousel {
    display: block;
    position: relative;
    height: 400px;
    width: 400px;
}

.limited-card {
    display: block;
    position: absolute;
    width: 100%;
    height: 400px;
    opacity: 0;
    transition: 0.25s opacity ease-in-out;
    transition-delay: 0.25s;
}

.limited-card img {
    display: block;
    position: relative;
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.limited-card.active {
    opacity: 1;
    transition-delay: 0s;
    z-index: 1;
}

.carousel-button {
    display: block;
    width: 47px;
    height: 47px;
    position: absolute;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    margin-top: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 0.7;
}

.carousel-button:hover {
    opacity: 1;
}

.carousel-button:active {
    cursor: default;
}

.carousel-button img {
    width: 100%;
    height: 100%;
}

.carousel-button.before {
    left: 1.5em;
}

.carousel-button.before img {
    padding: 0 2px 0 0;
}

.carousel-button.after {
    right: 1.5em;
}

.carousel-button.after img {
    padding: 0 0 0 2px;
}

.limited-card .limited_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 0.5em 1em;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    font-size: var(--fluid-14-16);
}

.limited_info a {
    color: var(--clr-white);
    text-transform: uppercase;
}

.limited_info a:hover {
    text-decoration: underline;
}

/************************************MAIN-LIMITED-GALLERY-INDEX************************************/
/************************************MAIN-NEWS-INDEX/MAIN-CONTACT-CONTACT************************************/
.main-news-wrapper,
.main-story-wrapper,
.main-contact-wrapper {
    display: block;
    width: 70%;
    height: 100%;
    background-image: url(./assets/images/background_dish/brick_white_wall.webp);
    background-size: cover;
    color: var(--clr-black);
    padding: 1.3em;
    border-radius: var(--border-radius) 0;
}

.main-news-wrapper,
.main-contact-wrapper {
    margin: 8em auto;
}

.main-story-wrapper {
    position: relative;
    margin: 8em auto;
}

.main-story-wrapper img {
    width: 200px;
    rotate: 20deg;
    position: absolute;
    aspect-ratio: 1 / 1;
    top: -5.5em;
    right: -3em;
}

.main-story-text {
    position: relative;
    text-align: left;
}

.main-story-text h2,
.main-contact-text h2,
.main-news-text h2 {
    font-family: "Helvetica", system-ui;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.1;
    text-transform: uppercase;
}

.main-story-text span,
.main-contact-text span,
.main-news-text span {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}

.main-story-text p,
.main-news-text p,
.main-contact-text p {
    margin-block: 0.75em 1.5em;
}

.main-story-text a:hover {
    border-color: var(--clr-black);
    background-color: var(--clr-black);
    color: var(--clr-yellow);
}

.main-news-form,
.main-contact-form {
    display: grid;
    place-items: start;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

input:required, textarea:required {
    border: 3px solid var(--clr-yellow);
}


.main-news-input {
    font-family: "oswald-regular", system-ui;
    font-weight: 400;
    font-size: var(--font-size-button);
    padding: 0.25em;
    width: 100%;
}

.main-news-input::placeholder {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
}

.main-news-form button,
.main-story-text a,
.main-contact-form button {
    display: block;
    text-transform: uppercase;
    padding: 0.25em 1.5em;
    font-family: "oswald-semibold", system-ui;
    font-size: var(--font-size-button);
    line-height: 1.5;
    max-width: 12em;
    background-color: var(--clr-yellow);
    color: var(--clr-black);
    border: 3px solid black;
    cursor: pointer;
    text-align: center;
}

.main-news-form button:hover,
.main-contact-form button:hover {
    border-color: var(--clr-black);
    background-color: var(--clr-black);
    color: var(--clr-yellow);
}

.main-news-form button:active,
.main-contact-form button:active {
    cursor: default;
}

/************************************MAIN-NEWS-INDEX/MAIN-CONTACT-CONTACT************************************/
/************************************FOOTER-UNIVERSAL************************************/
footer {
    display: block;
    width: 100%;
    line-height: var(--footer-line-height);
    background-color: black;
    color: var(--clr-yellow);
}

.container-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 1em;
    padding-block: 1em 0.25em;
    width: 100%;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.footer-right {
    width: 50%;
}

.logo-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-yellow);
    border: 5px solid var(--clr-white);
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
    width: 300px;
}

.logo-image img {
    width: 100%;
    padding: 0.25em 0.75em;
}

.footer-para {
    font-family: "helvetica", system-ui;
    font-size: 400;
    font-size: var(--font-size-footer);
    color: var(--clr-black);
    padding: 0.25em;
    width: 100%;
    text-align: center;
}

.footer-right a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-yellow);
    padding: 0.5em 1em;
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: var(--font-size-footer-links);
    line-height: var(--font-size-footer-links);
    margin: 0.25em;
    letter-spacing: 1px;
}

.footer-right a:hover {
    color: black;
    background-color: var(--clr-yellow);
}

.footer-right ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0.5em 0;
    gap: 0.1em;
}

#add {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    font-size: 0.8rem;
    padding: 0.75em 1em;
    line-height: 1;
    color: var(--clr-white);
}

#copyright,
#privacy {
    padding: 0.5em;
    text-align: center;
}

/************************************FOOTER-UNIVERSAL************************************/
/************************************CONTAINER-MAIN-PRIVACY(privacy page)************************************/
.container-main-privacy {
    font-family: "oswald-regular", system-ui;
    font-weight: 400;
    margin: var(--content-margin-v) var(--content-margin-h);
}

.container-main-privacy h1 {
    text-align: center;
    margin-block-end: 1em;
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: 2.3rem;
}

.container-main-privacy h2,
h3,
h4,
strong {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
}

.container-main-privacy a {
    color: var(--clr-grey);
}

.container-main-privacy a:hover {
    text-decoration: underline;
}

.container-main-privacy ul {
    list-style-position: inside
}

.container-main-privacy li {
    margin-left: 3em;
}

.container-main-privacy p {
    display: inline;
}

.container-main-privacy hr {
    margin-block: 1.5em;
    height: 0.4em;
    background-color: var(--clr-black);
    border-radius: var(--border-radius);
    border: 0;
}

/************************************CONTAINER-MAIN-PRIVACY************************************/
/************************************CONTAINER-MAIN-CONTACT************************************/
.main-info-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: var(--content-margin-h) auto;
    max-width: 100%;
}

.main-info-text {
    width: 30%;
}

.main-info-text h2 {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0.5em 0;
    text-transform: uppercase;
}

.main-info-text a {
    font-size: var(--font-size-default);
    color: var(--clr-grey);
}

.main-info-text a:hover:not(#address) {
    text-decoration: underline;
}

.main-info-text p {
    font-size: 1.125rem;
}

.main-info-location {
    width: 50%;
}

.main-info-location iframe {
    width: 100%;
    height: 25em;
    margin: 0 auto;
}

/************************************CONTAINER-MAIN-CONTACT************************************/
/************************************ABOUT-US-PAGE************************************/

.main-about-ogs-wrapper {
    display: block;
    max-width: 100%;
    min-height: 100vh;
    margin: var(--content-margin-h) var(--content-margin-v);
}

.main-about-ogs-text {
    display: block;
    text-align: center;
    max-width: 100%;
    height: 100%;
    margin-block: var(--content-margin-v);
}

.main-about-ogs-text h2 {
    font-family: "Helvetica", system-ui;
    font-weight: 400;
    font-size: var(--font-size-h2);
    line-height: 1.1;
    text-transform: uppercase;
}

.main-about-ogs-text span {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: var(--font-size-h2-span);
    text-transform: uppercase;
}

.main-about-ogs-text p {
    margin-block: 0.75em 0;
}

.main-about-ogs-card {
    display: grid;
    place-items: center;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.emp1,
.emp2,
.emp3,
.emp4,
.emp5,
.emp6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 325px;
    height: 100%;
    border-radius: var(--border-radius);
    background-image: url(./assets/images/background_dish/soft_textured_black_wall.webp);
}

.emp-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-block: 0 0.75em;
    line-height: 1.3;
    gap: 0.25em;
    padding-inline: 0.25em;
}

.emp-text h3,
p {
    font-family: "oswald-regular", system-ui;
    font-weight: 400;
}

.emp-text h3 {
    font-size: 1.8rem;
    color: var(--clr-yellow);
}

.emp-text p {
    font-size: 1.2rem;
    color: var(--clr-white);
}

.emp-text q {
    font-family: "oswald-light", system-ui;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3;
    padding-block: 0.2em 0;
    color: var(--clr-white);
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.emp-img {
    width: 275px;
    height: 275px;
    background-size: cover;
    border-radius: 50%;
    margin: 1.2em;
}

.emp1 .emp-img {
    background-image: url(./assets/images/employers/founder.png);
    background-position-x: 50%;
}

.emp2 .emp-img {
    background-image: url(./assets/images/employers/manager.png);
    background-position-x: 52.5%;
}

.emp3 .emp-img {
    background-image: url(./assets/images/employers/chef.png);
    background-position-x: 50%;
}

.emp4 .emp-img {
    background-image: url(./assets/images/employers/exe_chef.png);
    background-position-x: 50%;
}

.emp5 .emp-img {
    background-image: url(./assets/images/employers/waitres.png);
    background-position-x: 47.5%;
}

.emp6 .emp-img {
    background-image: url(./assets/images/employers/server.png);
    background-position-x: 57.5%;
}

.main-about-story-wrapper {
    display: grid;
    grid-gap: 20em;
    margin: var(--content-margin-h) var(--content-margin-v);
    max-width: 100%;
}

.main-about-story-wrapper>div {
    display: block;
    position: relative;
    width: 50%;
    padding: 2.5em 3em;
    background-color: var(--clr-story_back);
    outline: 3px solid black;
}

[class*="main-story-section"]>h2 {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: var(--font-size-h2);
}

.main-story-section1,
.main-story-section3,
.main-story-section5 {
    margin-inline: 0 auto;
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
}

.main-story-section5 {
    margin-block-end: 15em;
}

.main-story-section2,
.main-story-section4 {
    margin-inline: auto 0;
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
}

#story_img1,
#story_img2,
#story_img3,
#story_img4,
#story_img5,
#story_img6,
#story_img7 {
    position: absolute;
    width: 220px;
    height: 220px;
    box-sizing: unset;
    object-fit: cover;
    object-position: center;
    border: 20px solid var(--clr-story_back);
    outline: 3px solid black;
}

#story_img1,
#story_img2,
#story_img4,
#story_img5,
#story_img7 {
    bottom: -15em;
    right: 1em;
    rotate: -5deg;
}

#story_img3,
#story_img6 {
    top: -15em;
    left: 1em;
    rotate: 5deg;
}

/************************************ABOUT-US-PAGE************************************/
/************************************MENU-PAGE************************************/

.main-menu-wrapper {
    display: block;
    max-width: 100%;
    margin: var(--content-margin-h) var(--content-margin-v);
}

.main-menu-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.main-menu-nav .menuBtn {
    display: block;
    text-transform: uppercase;
    padding: 0.25em 1em;
    margin: 0.25em;
    font-family: "oswald-semibold", system-ui;
    font-size: var(--font-size-button);
    line-height: 1.5;
    background-color: var(--clr-yellow);
    color: var(--clr-black);
    border: 3px solid black;
    cursor: pointer;
    text-align: center;
}

.menuBtn.active {
    border-color: var(--clr-black);
    background-color: var(--clr-black);
    color: var(--clr-yellow);
}

.main-menu-nav a:hover {
    border-color: var(--clr-black);
    background-color: var(--clr-black);
    color: var(--clr-yellow);
}

.main-menu-section {
    display: none;
    max-width: 100%;
}

.menu-col1,
.menu-col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1em;
    text-align: center;
}

.col-header {
    width: 80%;
    margin-block: 0.75em;
}

.col-header h2 {
    font-family: "Helvetica", system-ui;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.1;
    text-transform: uppercase;
}

.col-header span {
    font-family: "oswald-semibold", system-ui;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.1;
    text-transform: uppercase;
}

.menu-col1 img,
.menu-col2 img {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    margin: 0 auto 0.5em auto;
    border-radius: var(--border-radius);
}

.menu-col1 ul,
.menu-col2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-col1 li,
.menu-col2 li {
    width: 80%;
    margin: 1.5em 0;
}

/************************************MENU-PAGE************************************/
@media (max-width: 768px) {

    /*INDEX*/
    .container-header {
        justify-content: space-between;
        height: var(--header-height-phone-tablet);
    }

    .desktop-layout-menu {
        display: none;
    }

    .mobile-layout-menu,
    .mobile-layout-menu .close-button,
    .open-button {
        display: block;
    }

    .container-header #restaurant_logo {
        margin-block-start: 0.2em;
        max-width: calc(100% - (3em + 43px));
    }

    /*INDEX*/
    /*UNIVERSAL HERO*/
    .text-container-layout,
    .text-container-hero-layout {
        width: 90%;
    }

    .main-gallery-wrapper #bg_image,
    .main-hero-section-wrapper #bg_image {
        height: calc(100vh - var(--header-height-phone-tablet));
    }

    .main-gallery-wrapper #arrow_down,
    .main-hero-section-wrapper #arrow_down {
        width: 50px;
        height: 50px;
    }

    /*UNIVERSAL HERO*/
    /*FOOTER*/
    .container-footer {
        width: 100%;
        flex-direction: column;
        gap: 0.5em;
    }

    .footer-right {
        width: 90%;
    }

    .logo-image {
        width: 280px;
    }

    .footer-left {
        width: 100%;
        margin-inline: 1.5em;
    }

    /*FOOTER*/
    /*CONTACT*/
    .main-info-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: var(--content-margin-v) 1.5em;
    }

    .main-info-location {
        width: 100%;
    }

    .main-info-text {
        width: 80%;
        text-align: center;
        margin-block-end: 3em;
    }

    .main-info-location iframe {
        width: 100%;
    }

    /*CONTACT*/
    /*ABOUT_US*/
    .main-about-story-wrapper {
        margin: var(--content-margin-h) 1.5em;
        grid-gap: 25em;
    }

    .main-about-story-wrapper>div {
        width: 100%;
        border-radius: var(--border-radius);
        padding: 1.5em;
        text-align: center;
    }

    #story_img1,
    #story_img2,
    #story_img3,
    #story_img4,
    #story_img5,
    #story_img6,
    #story_img7 {
        width: 225px;
        height: 225px;
    }

    .main-story-section3,
    .main-story-section5 {
        margin-block-start: 15em;
    }

    /*ABOUT_US*/
}

@media (min-width: 769px) and (max-width:1023px) {

    /*INDEX*/
    .container-header {
        height: var(--header-height-tablet-laptop);
    }

    .container-header #restaurant_logo {
        margin-block-start: 0.2em;
        max-width: calc(100% - (3em + 43px));
    }

    /*INDEX*/
    /*UNIVERSAL HERO*/
    .main-gallery-wrapper #bg_image,
    .main-hero-section-wrapper #bg_image {
        height: calc(100vh - var(--header-height-tablet-laptop));
    }

    .main-gallery-wrapper #arrow_down,
    .main-hero-section-wrapper #arrow_down {
        width: 50px;
        height: 50px;
    }

    /*UNIVERSAL HERO*/
    /*FOOTER*/
    .container-footer>* {
        width: 70%;
    }

    .logo-image {
        width: 280px;
    }

    .footer-right,
    .footer-left {
        width: 50%;
    }

    /*FOOTER*/
    /*MENU*/
    .col-header {
        width: 90%;
    }

    .menu-col1 li,
    .menu-col2 li {
        width: 90%;
    }

    .col-header h2 {
        font-size: 1.3rem;
    }

    .col-header span {
        font-size: 1.5rem;
    }

    /*MENU*/
}

@media (max-width: 1024px) {

    /*NEWSLETTER, CONTACT, ABOUT_US*/
    .main-news-text,
    .main-contact-text {
        text-align: center;
        padding-inline: 1em;
    }
    .main-contact-wrapper {
        width: 90%;
        margin: var(--content-margin-h) auto;
    }
    .main-news-wrapper{
        width: 90%;
        margin: var(--content-margin-v) auto var(--content-margin-h) auto;
    }

    .main-story-wrapper {
        width: 90%;
        margin: var(--content-margin-h) auto var(--content-margin-v) auto;
    }

    .main-news-form,
    .main-contact-form {
        grid-template-columns: auto;
        place-items: center;
    }

    .main-story-text {
        margin-block: var(--content-margin-v) 1.5em;
        text-align: center
    }

    .main-story-text a {
        margin: 0 auto;
    }

    .main-story-wrapper img {
        width: 160px;
        top: -5em;
        right: -0.5em;
    }

    .main-news-input {
        width: 95%;
    }

    /*NEWSLETTER, CONTACT, ABOUT_US*/
    /*PRIVACY*/
    .container-main-privacy {
        margin: var(--content-margin-v) 1.5em;
    }

    /*PRIVACY*/
    /*INDEX*/
    .main-prepare-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: var(--content-margin-h) 1.5em;
    }

    .main-prepare-text-layout a {
        margin: 1.5em auto;
    }

    .main-prepare-text-layout {
        width: 100%;
        margin-block-end: 1.5em;
    }

    .main-prepare-image-layout {
        width: 100%;
    }

    .main-prepare-image-layout figure figcaption {
        text-align: center;
        line-height: 1.1;
    }

    /*INDEX*/
}

@media (max-width: 500px) {
    #carousel {
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .limited-card {
        height: 300px;
    }

    .carousel-button {
        width: 45px;
        height: 45px;
    }

    .main-limited-gallery-wrapper {
        flex-direction: column;
        margin: var(--content-margin-v) 1.5em;
    }
}

@media (min-width: 501px) and (max-width: 1024px) {
    #carousel {
        width: 350px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .limited-card {
        height: 350px;
    }

    .main-limited-gallery-wrapper {
        flex-direction: column;
        margin: var(--content-margin-h) 1.5em;
    }

}

@media (min-width: 1025px) {
    .main-limited-gallery-wrapper {
        flex-direction: row;
        margin: var(--content-margin-h) var(--content-margin-v);
    }

    .limited-card .limited_info {
        justify-content: space-between;
    }

    .main-limited-gallery-text-layout {
        width: 55%;
        text-align: left;
    }
}

@media (max-width: 1140px) {
    .main-about-ogs-wrapper {
        margin: var(--content-margin-h) 1.5em;
    }

    .main-about-ogs-card {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1em;
    }

    .emp-img {
        width: 250px;
        height: 250px;
    }

    .emp-text h3 {
        font-size: 1.6rem;
    }

    .emp-text p {
        font-size: 1.2rem;
    }

    .emp-text q {
        font-size: 1rem;
    }

    .emp1,
    .emp2,
    .emp3,
    .emp4,
    .emp5,
    .emp6 {
        width: 300px;
    }
}

@media (min-width: 320px) and (max-width: 425px) {

    .menu-col1 li,
    .menu-col2 li {
        width: 100%;
    }

    .main-menu-wrapper {
        margin: var(--content-margin-h) 1.5em;
    }

    .main-menu-section {
        flex-direction: column;
    }

    .menu-col1,
    .menu-col2 {
        width: 100%;
    }
}

@media (min-width:425px) and (max-width: 768px) {
    .main-menu-wrapper {
        margin: var(--content-margin-h) 1.5em;
    }

    .main-menu-section {
        flex-direction: column;
    }

    .menu-col1,
    .menu-col2 {
        width: 100%;
    }

    .menu-col1 li,
    .menu-col2 li {
        width: 70%;
    }
}